@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

main {
  margin: 0 auto;
  max-width: 90%;
  padding: 50px 30px;
}
:root {
  --primary-color: #c5b9dd;
  --dark-primary: #8c76b6;
  --secondary-color: #f1f63dff;
  --tertiary-color: #ace5ccff;
  --quaternary-color: #170e0e;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 25px;
  font-family: "VT323", monospace;
  letter-spacing: 0.1em;
  background: var(--primary-color);
  color: var(--darker-primary);
}

a {
  text-decoration: none;
}

.bg-header {
  background-color: var(--tertiary-color);
}

.bg-secondary {
  background-color: var(--secondary-color) !important;
}

.name-logo {
  color: var(--secondary-color);
}

.nav-links {
  color: var(--dark-primary);
}

.circle {
  width: 25px;
  height: 25px;
  background: lightgray;
  border: solid, black, 4px !important;
  border-radius: 25px;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
}

.rounded {
  border-radius: 20px !important;
}

.rounded-top {
  border-top-left-radius: 17px !important;
  border-top-right-radius: 17px !important;
}

.rounded-bottom {
  border-bottom-left-radius: 17px !important;
  border-bottom-right-radius: 17px !important;
}

.border {
  border-width: 5px !important;
}

.border-bottom {
  border-width: 5px !important;
}
